 <!----------- About Us-------------->

 <section class="about-us-section">

<div class="about-us-container">
    <div class="about-us-descr">
        <h2 class="about-us">About Us</h2>
        <ul class="about-us-list">
          <li class="about-us-item-one">
              <p class="about-us-descr">
                  The store "Vyshyvanka Vibes" is a place where traditional
                   Ukrainian vyshyvanka comes to life with new zest and style. 
                   Our store offers a wide selection of high-quality and 
                   authentic embroidery, which combines the elegance of 
                   traditional needlework and modern design.
              </p>
          </li>
          <li class="about-us-item-two">
              <p class="about-us-descr">
                  In "Vyshyvanka Vibes" you will find various models of embroidery,
                   from classic to modern, corresponding to the latest fashion trends.
                    Our embroidery is made using natural fabrics and is embroidered by
                     highly qualified craftsmen who convey the beauty of Ukrainian
                      culture in every detail.We believe that vyshyvanka is not just 
                      clothing, but a symbol of national pride, the heritage of our
                       ancestors and a way of expressing one's individuality. Each
                        embroidery from "Vyshyvanka Vibes" has its own unique history
                         and symbolism, which gives it a special meaning.
              </p>
          </li>
      </ul>
    </div>
    <div class="about-us-container-img">
        <img class="about-us-img" src="./img/about-us/about-us-girl-and-boy-mobile.jpg"
        srcset="
        ./img/about-us/about-us-girl-and-boy-desctop.jpg 360w, 
        ./img/about-us/about-us-girl-and-boy-desctop@2x.jpg 720w,
        ./img/about-us/about-us-girl-and-boy-tablet.jpg 356w, 
        ./img/about-us/about-us-girl-and-boy-tablet@2x.jpg 712w, 
        ./img/about-us/about-us-girl-and-boy-mobile.jpg 288w, 
        ./img/about-us/about-us-girl-and-boy-mobile@2x.jpg 576w,
        ./img/about-us/about-us-girl-and-boy-desctop-1440.jpg 1418w"
        sizes="(min-width: 1440px) 709px, (min-width: 1158px) 360px, 
        (min-width: 768px) 356px, (max-width: 767px) 288px"
        alt="Vyshyvanka girl and boy">
    
    </div>
      

            

</div>
 

</section>
<!-----------END About US-------------->