
    <footer class="footer">
        <div class="footer-container-main">
            <div class="footer-container-left">
                <ul class="footer-list">
                    <li class="footer-links"><a href="#about-us">About us</a>
                    </li>
                    <li class="footer-links"><a href="#our-collection">Our collection</a>
                    </li>
                    <li class="footer-links"><a href="#customer-order">CUSTOMER ORDER</a>
                    </li>
                    <li class="footer-links"><a href="#testimonals">Testimonials</a>
                    </li>
                </ul>
                <p class="footer-text">A touch of <span class="footer-text-yellow">Ukrainian</span> culture in every embroidery</p>
            </div>
        <div class="footer-container-right">
            <img src="/img/footer/elements-1.png" alt="vyshyvanka" class="image-mobile">
            <img src="/img/footer/elements-768.png" alt="vyshyvanka" class="image-tablet">
            <img src="/img/footer/elements-1080.png" alt="vyshyvanka" class="image-desctopsm">
            <img src="/img/footer/elements-1440.png" alt="vyshyvanka" class="image-desctopbg">
        </div>
        </div>
    </footer> 