
    <footer class="foot-container">
        <div class="container-f">
            <ul class="footer-list">
            <li class="footer-links"><a href="#about-us">About us</a></li>
            <li class="footer-links"><a href="#our-collection">Our collection</a></li>
            <li class="footer-links"><a href="#customer-order">CUSTOMER ORDER</a></li>
            <li class="footer-links"><a href="#testimonals">Testimonials</a></li>
        </ul>
        <ul class="footer-list-two">
            
        </ul>
        <p class="footer-text">A touch of <span class="footer-text-yellow">Ukrainian</span> culture in every embroidery</p>
        <div class="pes"><img src="./img/footer/elements-1.png" class="img-vyshyvanka" alt="vyshyvanka"></div>
        
    </div>
        
    </footer>