<section class="hero-section">
  <div class="hero-container container">
    <div class="hero-wrapper">
      <div class="hero-wrapper-heading-and-btn">
        <div class="hero-wrapper-heading">
          <h1 class="hero-heading">
            Reviving the traditional
            <span class="hero-heading-span">Ukrainian</span> artistry in every
            stitch.
          </h1>
        </div>
        <div class="hero-wrapper-btn">
          <button class="hero-btn" onclick="window.location.href = '#customer-order'">
            Order<svg class="hero-icon-btn" width="26" height="10" aria-label="icon for order button">
              <use href="./img/sprite-icons.svg#icon-arrow-btn"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="hero-box-image">
        <img class="hero-img" srcset="
        ./img/hero/hero-grey-shirt-mob.jpg 335w,
        ./img/hero/hero-grey-shirt-mob@2x.jpg 670w,
        ./img/hero/hero-grey-shirt-tablet.jpg 413w,
        ./img/hero/hero-grey-shirt-tablet@2x.jpg 826w,
        ./img/hero/hero-grey-shirt-desk1280.jpg 392w,
        ./img/hero/hero-grey-shirt-desk1280@2x.jpg 784w" sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px,
        (min-width: 375px) 335px" src="./img/hero/grey-shirt-mob-min.jpg" alt="grey shirt" />
      </div>
    </div>
    <div class="hero-wrapper-side-img">
      <div class="hero-handmade-sign">
        <div class="hero-container-for-icon">
          <svg class="hero-icon" width="52" height="51" aria-label="icon for hanmade sign">
            <use href="./img/sprite-icons.svg#icon-yellow-star"></use>
          </svg>
        </div>
        <p class="hero-paragraph">all embroidery is made by hand</p>
      </div>
      <div class="hero-box-group-img">
        <img srcset="
            ./img/hero/hero-group-img.png    139w,
            ./img/hero/hero-group-img@2x.png 278w
          " sizes="(max-width: 767px) 139px" src="./img/hero/hero-group-img.png" alt="grey shirt" />
      </div>
    </div>
  </div>
</section>