<section class="hero-section">
    <div class="hero-container">
        <div class="hero-wrapper-heading">
            <h1 class="hero-heading">Reviving the traditional <span class="hero-heading-span">Ukrainian</span> artistry
                in
                every
                stitch.</h1>
            <div class="hero-handmade-sign">
                <div class="hero-container-for-icon">
                    <svg class="hero-icon" width="52" height="51" aria-label="icon for hanmade sign">
                        <use href="./img/sprite-icons.svg#icon-yellow-star"></use>
                    </svg>
                </div>
                <p class="hero-paragraph">all embroidery is made by hand</p>
            </div>
        </div>
        <a href="#Your order"><button class="hero-btn" type="button">Order<svg class="hero-icon-btn" width="26"
                    height="10" aria-label="icon for order button">
                    <use href="./img/sprite-icons.svg#icon-arrow-btn"></use>
                </svg></button></a>
        <div class="hero-wrapper-content-img">
            <div class="hero-box-image"><img class="hero-img" srcset="
        ./img/hero/grey-shirt-mob-min.jpg 335w,
        ./img/hero/grey-shirt-mob@2-min.jpg 670w" sizes="(max-width: 767px) 335px"
                    src="./img/hero/grey-shirt-mob-min.jpg" alt="grey shirt" />
            </div>
            <div class="hero-box-group-img"><img srcset="
            ./img/hero/hero-group-img.png 139w,
            ./img/hero/hero-group-img@2x.png 278w" sizes="(max-width: 767px) 139px" src="./img/hero/hero-group-img.png"
                    alt="grey shirt" />
            </div>
        </div>
    </div>
</section>