<!-- OUR-COLLECTION -->
<section class="our-collection">
  <div class="container">
    <h2 class="our-collection-section-title">Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-list">
        <img
          class="our-collection-img"
          srcset="
            ./img/our_collection/desktop/black-blouse-min.png    347w,
            ./img/our_collection/desktop/black-blouse@2x-min.png 694w,
            ./img/our_collection/tab/black-blouse-tab-min.png    342w,
            ./img/our_collection/tab/black-blouse-tab@2x-min.png 684w,
            ./img/our_collection/mob/black-blouse-mob-min.png    335w,
            ./img/our_collection/mob/black-blouse-mob@2x-min.png 670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
          src="./img/our_collection/desktop/black-blouse-min.png"
          alt="black-blouse"
        />
        <div class="our-collection-list-container">
          <h3 class="our-collection-list-title">
            AUGUST POLTAVA WOMEN'S BLOUSERING
          </h3>
          <p class="our-collection-list-price">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-list">
        <img
          class="our-collection-img"
          srcset="
            ./img/our_collection/desktop/shirt-min.png        347w,
            ./img/our_collection/desktop/shirt@2x-min.png     694w,
            ./img/our_collection/tab/shirt-mob-tab-min.png    342w,
            ./img/our_collection/tab/shirt-mob-tab@2x-min.png 684w,
            ./img/our_collection/mob/shirt-mob-min.png        335w,
            ./img/our_collection/mob/shirt-mob@2x-min.png     670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
          src="./img/our_collection/desktop/shirt-min.png"
          alt="shirt"
        />
        <div class="our-collection-list-container">
          <h3 class="our-collection-list-title">WOMEN'S BLOUSE GORGANY</h3>
          <p class="our-collection-list-price">3350 UAH</p>
        </div>
      </li>
      <li class="our-collection-list">
        <img
          class="our-collection-img"
          srcset="
            ./img/our_collection/desktop/white-blouse-min.png    347w,
            ./img/our_collection/desktop/white-blouse@2x-min.png 694w,
            ./img/our_collection/tab/white-blouse-tab-min.png    342w,
            ./img/our_collection/tab/white-blouse-tab@2x-min.png 684w,
            ./img/our_collection/mob/white-blouse-mob-min.png    335w,
            ./img/our_collection/mob/white-blouse-mob@2x-min.png 670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
          src="./img/our_collection/desktop/white-blouse-min.png"
          alt="white-blouse"
        />
        <div class="our-collection-list-container">
          <h3 class="our-collection-list-title">MOUNTAIN MEN'S SHIRT</h3>
          <p class="our-collection-list-price">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-list">
        <img
          class="our-collection-img"
          srcset="
            ./img/our_collection/desktop/white-shirt-min.png    347w,
            ./img/our_collection/desktop/white-shirt@2x-min.png 694w,
            ./img/our_collection/tab/white-shirt-tab-min.png    342w,
            ./img/our_collection/tab/white-shirt-tab@2x-min.png 684w,
            ./img/our_collection/mob/white-shirt-mob-min.png    335w,
            ./img/our_collection/mob/white-shirt-mob@2x-min.png 670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
          src="./img/our_collection/desktop/white-shirt-min.png"
          alt="white-shirt"
        />
        <div class="our-collection-list-container">
          <h3 class="our-collection-list-title">MEN'S SHIRT YASEN</h3>
          <p class="our-collection-list-price">1700 UAH</p>
        </div>
      </li>
      <li class="our-collection-list">
        <img
          class="our-collection-img"
          srcset="
            ./img/our_collection/desktop/black-shirt-min.png 347w
            ./img/our_collection/desktop/black-shirt@2x-min.png 694w,
            ./img/our_collection/tab/black-shirt-tab-min.png 342px,
            ./img/our_collection/tab/black-shirt-tab@2x-min.png 684px,
            ./img/our_collection/mob/black-shirt-mob-min.png 335w,
            ./img/our_collection/mob/shirt-mob@2x-min.png 670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
          src="./img/our_collection/desktop/black-shirt-min.png"
          alt="black-shirt"
        />
        <div class="our-collection-list-container">
          <h3 class="our-collection-list-title">WOMEN'S BLOUSE CRIMEA</h3>
          <p class="our-collection-list-price">4000 UAH</p>
        </div>
      </li>
      <li class="our-collection-list">
        <img
          class="our-collection-img"
          srcset="
            ./img/our_collection/desktop/red-on-white-min.png    347w,
            ./img/our_collection/desktop/red-on-white@2x-min.png 694w,
            ./img/our_collection/tab/red-on-white-tab-min.png    342w,
            ./img/our_collection/tab/red-on-white-tab@2x-min.png 684w,
            ./img/our_collection/mob/red-on-white-mob-min.png    335w,
            ./img/our_collection/mob/red-on-white-mob@2x-min.png 670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
          src="./img/our_collection/desktop/red-on-white-min.png"
          alt="red-on-white"
        />
        <div class="our-collection-list-container">
          <h3 class="our-collection-list-title">MEN'S SHIRT VERKHOVINA</h3>
          <p class="our-collection-list-price">3100 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
