<section class="testimonials">
  <div class="testimonials-container container">
    <h2 class="testimonials-title" id="testimonials-title">Testimonials</h2>
    <ul class="all-testimonials-list list">
      <li class="testimonial-1">
        <div class="testimonial-list-img">
          <img
            class="testimonial-img"
            srcset="./img/testimonials/Maria@2x.png 2x"
            src="./img/testimonials/Maria@1x.png"
            alt="Maria-Tkachuk-photo"
            width="64"
          />
        </div>
        <div class="testimonial-name-description">
          <h3 class="testimonial-name">Maria Tkachuk</h3>
          <p class="testimonial-description">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <li class="testimonial-2">
        <div class="testimonial-list-img">
          <img
            class="testimonial-img"
            srcset="./img/testimonials/Sergey@2x.png 2x"
            src="./img/testimonials/Sergey@1x.png"
            alt="Sergey-Rybachok-photo"
            width="64"
          />
        </div>
        <div class="testimonial-name-description">
          <h3 class="testimonial-name">Sergey Rybachok</h3>
          <p class="testimonial-description">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </li>
      <li class="testimonial-3">
        <div class="testimonial-list-img">
          <img
            class="testimonial-img"
            srcset="./img/testimonials/Natalia@2x.png 2x"
            src="./img/testimonials/Natalia@1x.png"
            alt="Natalia-Chatuk-photo"
            width="64"
          />
        </div>
        <div class="testimonial-name-description">
          <h3 class="testimonial-name">Natalia Chatuk</h3>
          <p class="testimonial-description">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
