<section class="your-order">
  <div class="container">
    <div class="your-order-bg"></div>

    <div class="yorder-container" id="customer-order">
      <div class="yorder-titform-wrap">
        <h2 class="yorder-title" >
          <span class="yorder-title-accent">Your order </span> is our priority:
          Personalized approach and quality of service
        </h2>
        <form class="yorder-form">
          <div class="yorger-wrap">
            <div class="yorger-input">
              <input
                type="text"
                name="user-name"
                id="user-name"
                class="name-input"
                required
                placeholder="Enter your full name"
                maxlength="50"
              />
            </div>
          </div>
          <div class="yorger-wrap">
            <div class="yorger-input">
              <input
                type="email"
                name="user-email"
                id="user-email"
                class="name-input"
                required
                placeholder="Enter your email"
                maxlength="50"
              />
            </div>
          </div>
          <div class="comment-wrap">
            <textarea
              class="comment-input"
              id="user-comment"
              name="user-comment"
              required
              placeholder="Comments"
              maxlength="450"
            ></textarea>
          </div>

          <button type="submit" class="btn-submint">
            Send<svg
              class="yorder-icon-btn"
              width="26"
              height="10"
              aria-label="icon for order button"
            >
              <use href="./img/sprite-icons.svg#icon-arrow-btn"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="yorder-img">
        <picture>
          <source
            srcset="
              ./img/your-order/yorder-img-desk-min.jpg   1x,
              ./img/your-order/yorder-img-desk@2-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/your-order/yorder-img-desk-min.jpg   1x,
              ./img/your-order/yorder-img-desk@2-min.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/your-order/yorder-img-tab-min.jpg   1x,
              ./img/your-order/yorder-img-tab@2-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            src="./img/your-order/yorder-img-tab-min.jpg"
            alt="colored embroidery on blouses and sleeveless vests"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
