/* ================ About Us ============ */

/* ------------ Mobile ------- */
.about-us-section {
    background-color: var(--black); 
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("/img/about-us/about-us-background-mobile.png");
    padding-bottom: 62px;
    max-width: fit-content;
    margin: 0 auto;

}

.about-us-container {  
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    min-width: 320px;
    max-width: fit-content;
}

.about-us {
    color: var(--white);
    font-family: Manrope;
    font-weight: 500;
    max-width: 375px;
    font-size: 32px;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: -0.03em; 
    padding-bottom: 40px;
}

.about-us-item {
        padding-bottom: 20px;
    }

.about-us-item:last-child {
     padding-bottom: 50px;
}

    .about-us-text {
        color: rgba(252, 249, 249, 0.40);
        font-family: Manrope;
        font-size: 14px; /* - */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.04em; 
    }

    .about-us-img {
        width: 100%;
        height: auto;
        border-radius: 4px;   
             
    } 



@media screen and (min-width: 375px) {

    .about-us-item {
        width: 335px;
      }

    .about-us-img {
        width: 335px;
    } 
    
}


/* ---------------- End Mobile ----------- */

/* ------------------ Tablet ------------ */

@media screen and (min-width: 768px) {
    .about-us-section {
        background-image: url("/img/about-us/about-us-background-tablet.png");
        padding-bottom: 50px;

    }

 
    .about-us {
        font-size: 44px;
        line-height: 1.45;
    }

    .about-us-item {
        width: 704px;
        padding-bottom: 20px;
      }

    .about-us-img {
        width: 704px;
    }
    
    .about-us-item:last-child {
        padding-bottom: 40px;
   }
    
            
    .about-us-text {
        font-size: 16px;
    }

    
}

/* ---------------- End Tablet ----------- */

/* ---------------- Desctop ----------- */

@media screen and (min-width: 1280px) {

    .about-us-container {
        padding-top: 20px;
    }

    .about-us-container {
        flex-direction: inherit;
        align-items: center;
        display: inline-flex;
        justify-content: center;
        gap: 50px; 
        padding-left: 80px;
        width: 1080px
      }
    
    
      .about-us-list {
        max-width: 436px;
      }
  
    .about-us {
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: -0.03em; 
    }

    .about-us-img {
        width: 704px;
    }
    
    .about-us-item: {
        padding-bottom: 20px;
   }
    
    .about-us-item:last-child {
        padding-bottom: 40px;
   }
    
            
    .about-us-text {
        font-size: 16px;
    }

    
    .about-us-item {
        width: 436px;
      }

    .about-us-img {
        width: 594px;
            }

    .about-us-section {
        background-image: url("/img/about-us/about-us-background-desctop.png");    
        padding: 70px 80px 70px 100px;
       
    }
    



/* ---------------- End Desctop ----------- */

/* ---------------- Desctop 1440----------- */

@media screen and (min-width: 1440px) {
 
         .about-us-container  {
              display: inline-flex;
              flex-direction: inherit;
              align-items: center;
              width: 1240px;
             justify-content: center;
             gap: 50px;

            }
         
        .about-us-list {
              width: 481px;
            }

            .about-us-item {
              width: 481px;
              padding-top: 20px;
            }
            
            .about-us-text {
                font-size: 16px;
            }
        

        .about-us-descr {
              display: block;
              margin-right: 50px;
              width: 481px;
            }
        .about-us-section {
            background-image: url("/img/about-us/about-us-background-desctop-1440.png");
                   }
        
                


}

}

/* ---------------- End Desctop 1440----------- */

/* ================ END About Us ============ */