/* ================ About Us ============ */

.about-us-section {
    background-color: #1C2225; 
    padding-bottom: 50px;
    margin-bottom: 30px;

    background-repeat: no-repeat;
    background-position: right bottom;
    
    overflow: hidden;
}

.about-us-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
}

.about-us {
    color: #FCF9F9;
    font-family: Manrope;
    font-weight: 500;
}

.about-us-descr {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-weight: 400;
}

/* ---------------- Mobile ----------- */

@media screen and (max-width: 767px) {

    .about-us-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
    }

.about-us-section {
        background-image: url("/img/about-us/about-us-background-mobile.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 230px 346px;
    overflow: hidden;
}

@media (min-resolution: 192dpi) {
    .about-us-section {
        background-image: url("/img/about-us/about-us-background-mobile@2x.png");
    }

}

.about-us {

    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.03em; 

    margin-left: 20px;
    margin-bottom: 40px;
}

.about-us-item-one {
    margin-bottom: 20px;
}


.about-us-item-two {
    margin-bottom: 50px;
}



.about-us-descr {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04em; 
}


.about-us-img {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    width: 100%;
    height: auto;
    border-radius: 4px; 
    
    padding-left: 0px;
    padding-right: 0px;

} 



}

/* ---------------- End Mobile ----------- */

/* ---------------- Tablet ----------- */

@media (min-width: 768px) {
    .about-us-section {
        margin-bottom: 50px;

        background-image: url("/img/about-us/about-us-background-tablet.png");
        background-size: 369px 431px;
    }


 
    .about-us {
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: 0.03em; 

        margin-left: 20px;
        margin-bottom: 40px;
    }
    
    .about-us-item-one {
        margin-bottom: 20px;
    }
    
    
    .about-us-item-two {
        margin-bottom: 40px;
    }
    
    
    
    .about-us-descr {
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.04em;  
    }
    
    
    .about-us-img {
        display: flex;
        margin-left: auto;
        margin-right: 20px;
        width: 100%;
        height: auto;
        border-radius: 4px; 
        
        padding-left: 0px;
        padding-right: 0px;
    
    } 
    
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
    .about-us-section {
        background-image: url("/img/about-us/about-us-background-tablet@2x.png");
    }
}

/* ---------------- End Tablet ----------- */

/* ---------------- Desctop ----------- */

@media (min-width: 1280px) {

    .about-us-section {
        padding-bottom: 80px;
        margin-bottom: 70px;

        background-image: url("/img/about-us/about-us-background-desctop.png");
        background-size: 383px 483px;
    }

    .about-us {
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: 0.03em; 

        margin-left: 20px;
        margin-bottom: 40px;

    }
    
    .about-us-item-one {
        margin-bottom: 20px;
    }
    
    
    .about-us-item-two {
        margin-bottom: 40px;
    }
    
    
    
    .about-us-descr {
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.04em;  
    }
    
    
    .about-us-img {
        display: flex;
        margin-left: auto;
        margin-right: 20px;
        width: 100%;
        height: auto;
        border-radius: 4px; 
        
        padding-left: 0px;
        padding-right: 0px;
    
    } 
}


@media (min-width: 1280px) and (min-resolution: 192dpi) {
    .about-us-section {
        background-image: url("/img/about-us/about-us-background-desctop@2x.png");
    }
}

/* ---------------- End Desctop ----------- */

/* ---------------- Desctop 1440----------- */

@media (min-width: 1440px) {
    .about-us-section {
        background-image: url("/img/about-us/about-us-background-desctop-1440.png");
        background-size: 545px 484px;
    }

.about-us {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: 0.03em; 

    margin-left: 20px;
    margin-bottom: 40px;

}

.about-us-item-one {
    margin-bottom: 20px;
}


.about-us-item-two {
    margin-bottom: 40px;
}



.about-us-descr {
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.04em;  
}


.about-us-img {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    width: 100%;
    height: auto;
    border-radius: 4px; 
    
    padding-left: 0px;
    padding-right: 0px;

} 

}

@media (min-width: 1440px) and (min-resolution: 192dpi) {
    .about-us-section {
        background-image: url("/img/about-us/about-us-background-desctop-1440@2x.png");
    }
}
/* ---------------- End Desctop 1440----------- */

/* ================ END About Us ============ */