
.footer {
    background-color: var(--black);
    height: 649px;
  }
  
  .footer-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 0;
    list-style-type: none;
  }
  .footer-list-item {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    
  }
  
  .footer-link {
    text-decoration: none;
    color: var(--white);
  }
  
  .footer-text {
    font-family: Manrope;
    font-size: 44px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -0.03em;
    text-align: left;
    color: var(--white);
    padding-top: 40px;
    
  }
  .footer-text-yellow {
    color: var(--yellow);
  }
  .footer-container-main {
    position: relative;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
  }
  .footer-container-main::after {
    position: absolute;
    top: 448px;
    width: 462px;
    height: 201px;
    content: "";
    background-repeat: no-repeat;
    background-image: url("/img/footer/elements-1.png");
    transform: translateX(-1%);
  }
  
  @media screen and (min-width:768px) {
      .footer-list {
          display: flex;
          flex-direction: row;
          padding: 0;
          list-style-type: none;

      }
      .footer-container-main::after{
        position: absolute;
        top: 5px;
        left: 600px;
        width: 452px;
        height: 400px;
        content: "";
        background-repeat: no-repeat;
        background-image: url("/img/footer/elements-768.png");
        transform: translateX(-1%);
      }
      .footer-text{
        width: 521px;
        margin-top: 80px;
      }
  }
  @media screen and (min-width:1280px) {
    .footer-container-main::after{
      position: absolute;
      top: 5px;
      left: 630px;
      width: 528px;
      height: 595px;
      content: "";
      background-repeat: no-repeat;
      background-image: url("/img/footer/elements-1080.png");
      transform: translateX(-1%);
  }
}
  @media screen and (min-width:1440px) {
    .footer-container-main::after{
      position: absolute;
      top: 5px;
      right: px;
      width: 528px;
      height: 595px;
      content: "";
      background-repeat: no-repeat;
      background-image: url("/img/footer/elements-1440.png");
      transform: translateX(-1%);
  }
  }
  