.footer {
  background-color: var(--black);
  border-top: 1px solid #FCF9F91A;
}

.footer-container-main {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  list-style-type: none;
}
.footer-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;

}

.footer-link {
  text-decoration: none;
  color: var(--white);
}

.footer-text {
  margin-top: 40px;
  font-size: 44px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--white);
} 

.footer-text-yellow {
  color: var(--yellow);
}


.footer-container-main::after {
  position: absolute;
  top: 475px;
  left: 0;
  width: 100%;
  height: 212px;
  content: "";
  background-repeat: no-repeat;
  background-image: url("/img/footer/elements-1.png");
  transform: translateX(-1%);
}

  
@media screen and (min-width:768px) {
    .footer-list {
        display: flex;
        flex-direction: row;
        padding: 0;
        list-style-type: none;

    }
    .footer-container-main {
        padding: 40px;
      }
    .footer-container-main::after{
      position: absolute;
      top: 0;
      left: 600px;
      width: 174px;
      height: 370px;
      content: "";
      background-repeat: no-repeat;
      background-image: url("/img/footer/elements-768.png");
      transform: translateX(-1%);
    }
    .footer-text{
      width: 521px;
      margin-top: 80px;
      font-size: 54px;
      line-height: 64px;
    }
   
}
@media screen and (min-width:1280px) {
  .footer-container-main::after{
    position: absolute;
    top: 0;
    left: 770px;
    width: 336px;
    height: 363px;
    content: "";
    background-repeat: no-repeat;
    background-image: url("/img/footer/elements-1080.png");
    transform: translateX(30%);
}

.footer-text{
  width: 754px;
  margin-top: 117px;
  font-size: 64px;
  line-height: 74px;
}

}
@media screen and (min-width:1440px) {
  .footer-container-main::after{
    position: absolute;
    top: 0px;
    left: 700px;
    width: 500px;
    height: 365px;
    content: "";
    background-repeat: no-repeat;
    background-image: url("/img/footer/elements-1440.png");
    transform: translateX(30%);
}
}

