.header {
display: flex;
border: 1px solid red;
background-color: black;
}
.link-nav {
  text-transform: uppercase;
  border: 1px solid red;
}
.open-mobile-menu-btn {
  border: none;
  cursor: pointer;
}
