.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 0;
}

.list-link-nav {
  display: none;
}

.header-div-two {
  display: flex;
  align-items: center;
}

.header-address-list {
  display: none;
}

.header-social-list {
  display: flex;
  gap: 12px;
  line-height: 0;
  padding: 18px 0;
}

.header-social-list-item {
  display: flex;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: rgba(252, 249, 249, 0.1);
  padding: 8px;
}

.header-social-list-item:hover,
.header-social-list-item:focus {
  border: 1px solid var(--yellow);
  cursor: pointer;
}

.open-mobile-menu-btn {
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.open-mobile-menu-icon {
  margin-left: 12px;
}


/* mobail menu */

.mobile-menu {
  width: 275px;
  background-color: var(--yellow);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-image: url(/img/header/ornament-mob-menu.png);
  background-position: 50% 570px;
  background-repeat: no-repeat;
  background-size: 395px 380px;
  z-index: 10;
}
.container-mob-menu {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container-top-mobail-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 186px;
}
.contacts-mobile-menu {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
}

.link-contacts-mobile {
  padding: 12px 20px;
  color: var(--black);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  text-transform: uppercase;
}

.btn-mobaile-close {
  border: none;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  background-color: var(--yellow);
  stroke: var(--black);
}

.list-main-mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}

.item-list-mobile-menu {
  color: #1c2225;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-icon {
    width: 44px;
    height: 30px;
    margin-left: 20px;
  }

  /* mobail menu */

.mobile-menu {
  width: 380px;
}

.container-mob-menu {
  width: 100%;
  margin: 0 auto;
  padding: 20px 32px;
}

.btn-mobaile-close {
  width: 44px;
  height: 44px;
}
.link-contacts-mobile {
  padding: 14px 28px;
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43;
  text-transform: uppercase;
}
}


@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    background-color: var(--black);
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 60px;
  }

  .list-link-nav {
    display: flex;
    gap: 25px;
    color: var(--white, #fcf9f9);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-transform: uppercase;
    padding: 37px 0;
  }

  .list-link-nav :hover,
  .list-link-nav :focus {
    color: var(--yellow);
  }

  .header-div-two {
    display: flex;
  }

  .header-address-list-item {
    display: flex;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    background-color: transparent;
    padding: 14px 28px;
    margin-right: 20px;
  }

  .header-address-list-item:hover,
  .header-address-list-item:focus {
    border: 1px solid var(--yellow);
    cursor: pointer;
  }

  .header-social-list {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    line-height: 0;
  }

  .header-address-list {
    display: flex;
  }

  .header-social-list-item {
    display: flex;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    background-color: rgba(252, 249, 249, 0.1);
    padding: 8px;
  }

  .header-social-list-item:hover,
  .header-social-list-item:focus {
    border: 1px solid var(--yellow);
    cursor: pointer;
  }

  .address-link {
    color: var(--white);
    font-style: normal;
    text-transform: uppercase;
  }

  .open-mobile-menu-btn {
    display: none;
    border: none;
    cursor: pointer;
  }

  .mobile-menu {
    display: none;
  }
}
