/* OUR-COLLECTION */
.our-collection {
  padding-bottom: 80px;
}

.container-ornament {
  position: relative;
}

.container-ornament::after {
  position: absolute;
  display: flex;
  min-width: 199px;
  height: 177px;
  content: '';
  background-image: url('/img/our_collection/ornament-mob-min.png');
  background-repeat: no-repeat;
  top: 241px;
  left: 0;
  z-index: -1;
}

.our-collection-section-title {
  color: var(--white);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 40px;
}

.our-collection-img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.our-collection-list-container {
  padding-top: 18px;
}

.our-collection-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.our-collection-list-title {
  overflow: hidden;
  color: var(--white);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.our-collection-list-price {
  color: var(--gray);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}


@media screen and (min-width: 375px) {
  .container-ornament::after {
    top: 307px;
  }


}

@media screen and (min-width: 768px) {
  .our-collection {
    padding-bottom: 100px;
  }

  .container-ornament::after {
    position: absolute;
    display: flex;
    min-width: 338px;
    height: 300px;
    content: '';
    background-image: url('/img/our_collection/ornament-tab-min.png');
    background-repeat: no-repeat;
    top: 225px;
    left: 0;
    z-index: -1;
  }

  .our-collection-section-title {
    color: var(--white);
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: -0.03em;
  }

  .our-collection-list {
    flex-flow: row wrap;
    column-gap: 20px;
    row-gap: 20px;
  }

  .our-collection-list-item {
    width: calc((100% - 20px) / 2);
  }

    .our-collection-list-title {
      overflow: hidden;
      color: var(--white);
      text-overflow: ellipsis;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }

  .point {
    width: 342px;
    white-space: nowrap;
    overflow: hidden;
    color: var(--white);
    text-overflow: ellipsis;
    font-size: 18px;
    overflow: hidden;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .our-collection-list-price {
    color: var(--gray);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
  }
}


@media screen and (min-width: 1280px) {
  .our-collection {
    padding-bottom: 150px;
  }

  .container-ornament::after {
    position: absolute;
    display: flex;
    min-width: 338px;
    height: 300px;
    content: '';
    background-image: url('/img/our_collection/ornament-min.png');
    background-repeat: no-repeat;
    top: 225px;
    left: -80px;
    z-index: -1;
  }

  .our-collection-section-title {
    color: var(--white);
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: -0.03em;
  }

  .our-collection-list {
    column-gap: 20px;
    row-gap: 40px;
  }

  .our-collection-list-item {
    width: calc((100% - 40px) / 3);
  }

  .our-collection-list-title {
    overflow: hidden;
    color: var(--white);
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .our-collection-list-price {
    color: var(--gray);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
  }
}


@media screen and (min-width: 1440px) {
  .container-ornament::after {
    position: absolute;
    display: flex;
    min-width: 338px;
    height: 300px;
    content: '';
    background-image: url('/img/our_collection/ornament-desktop2-min.png');
    background-repeat: no-repeat;
    top: 230px;
    left: -80px;
    z-index: -1;
  }

 

}

