.your-order {
    min-width: 320px;
    max-width: 375px;

}
.your-order-bg{

background-image: url(../img/your-order/yorder-bg-mob-min.jpg);
}
.container1 {

}
.order-title {
    color: var(--white, #FCF9F9);


}
.order-title-accent {
    color: #ECD979

    ;
}