.your-order {
  background-color: var(--black);
}
.your-order .container {
  position: relative;
}

.your-order .container::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background-image: url('/img/your-order/yorder-bg-mob-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 3;
}

.your-order-bg {
  min-width: 280px;
  max-width: 335px;
  height: 550px;
  margin-right: auto;
  margin-left: auto;
}

.yorder-container {
  display: flex;
  flex-direction: column;
  padding: 80px 0 80px;
}
.yorder-title {
  color: var(--white);
  padding-bottom: 40px;

  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.96px;
}
.yorder-title-accent {
  color: var(--yellow);
}
.yorger-wrap {
  margin-bottom: 20px;
}

.name-input {
  width: 100%;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  background-color: transparent;
  padding: 14px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(252, 249, 249, 0.5);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}
.name-input:focus {
  border-color: rgba(252, 249, 249, 0.6);
  color: rgba(252, 249, 249, 1);
  box-shadow: 5px 5px 10px 5px rgba(120, 120, 128, 0.3);
}
/* .name-input:hover {
  border-color: rgba(252, 249, 249, 0.6);
} */

.comment-input {
  width: 100%;
  height: 168px;
  color: rgba(252, 249, 249, 0.5);
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  background-color: transparent;
  padding: 14px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-input:focus {
  border-color: rgba(252, 249, 249, 0.6);
  color: rgba(252, 249, 249, 1);
  box-shadow: 5px 5px 10px 5px rgba(120, 120, 128, 0.3);
}
/* .comment-input:hover {
  border-color: rgba(252, 249, 249, 0.6);
} */

.btn-submint {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  height: 49px;
  padding: 14px 36px;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  color: var(--white, #fcf9f9);
  background-color: var(--black);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.btn-submint:hover,
.btn-submint:focus {
  border: 1px solid var(--yellow, #ecd979);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.yorder-img {
  display: none;
}

/* *==========================   375px ============================== */

@media screen and (min-width: 375px) {
  .your-order {
    max-width: none;
  }
}

/* *==========================   768px ============================== */

@media screen and (min-width: 768px) {
  .your-order .container::before {
    height: 776px;
    background-image: url('/img/your-order/yorder-bg-tab-min.jpg');
  }
  .your-order .container::after {
    position: absolute;
    content: '';
    bottom: 90px;
    left: 0;
    width: 323px;
    height: 484px;
    background-image: url('/img/your-order/element-tab-min.png');
    z-index: 3;
  }

  .your-order-bg {
    max-width: none;
    width: 702px;
    height: 776px;
  }
  .yorder-container {
    display: flex;
    flex-direction: column;
    padding: 100px 0 170px;
  }

  .yorder-title {
    width: 542px;
    font-size: 44px;
    font-weight: 500;
    line-height: 1.31;
    letter-spacing: -0.03em;
  }

  .name-input {
    width: 508px;

    font-size: 16px;

    letter-spacing: -0.02em;
  }
  .comment-input {
    width: 508px;
    height: 196px;
  }

  .btn-submint {
    margin-left: 0;
  }

  .yorder-img {
    display: flex;
    padding-top: 100px;
    padding-left: 66px;
  }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
  .your-order .container::after {
    background: url('/img/your-order/yorder-bg-tab@2-min.jpg');
  }
  .your-order .container::after {
    background-image: url('/img/your-order/element-tab-min.png');
  }
}

/*  *==================================  1280px    ==================== */
@media screen and (min-width: 1280px) {
  .your-order .container {
    padding-bottom: 150px;
  }

  .your-order .container::before {
    height: 776px;
    width: 1280px;
    left: -80px;
    background-image: url('/img/your-order/yorder-bg-desk1-min.jpg');
  }
  .your-order .container::after {
    position: absolute;
    content: '';
    bottom: 145px;
    left: -82px;
    width: 289px;

    height: 484px;
    background-image: url('/img/your-order/element-desk1-min.png');
    z-index: 3;
  }

  .your-order-bg {
    width: 1120px;
  }

  .yorder-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 150px 0px 0px 0px;
  }

  .yorder-title {
    width: 542px;

    font-size: 44px;
    font-weight: 500;
    line-height: 1.31;
    letter-spacing: -0.03em;
  }

  .name-input {
    width: 508px;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .comment-input {
    width: 508px;
    height: 196px;
  }

  .btn-submint {
    margin-left: 0;
  }

  .yorder-img {
    position: relative;
    right: 50px;
    padding: 0;
    width: 524px;
    height: 521px;
  }
}

@media (min-width: 1280px) and (min-resolution: 192dpi) {
  .your-order .container::after {
    background: url('/img/your-order/yorder-bg-desk1@2-min.jpg');
  }
  .your-order .container::after {
    background-image: url('/img/your-order/element-desk1-min.png');
  }
}

/* *============================ 1440 =========================== */

@media screen and (min-width: 1440px) {
  .your-order .container::before {
    width: 1440px;
    background-image: url('/img/your-order/yorder-bg-desk2-min.jpg');
  }
  .your-order .container::after {
    position: absolute;
    content: '';
    bottom: 145px;
    left: -80px;
    width: 323px;
    height: 484px;
    background-image: url('/img/your-order/element-tab-min.png');
    z-index: 3;
  }

  .your-order-bg {
    width: 1280px;
  }

  .yorder-container {
    padding: 150px 0px 0px 0px;
  }
  .yorder-title {
    width: 666px;
  }
}
@media (min-width: 1440px) and (min-resolution: 192dpi) {
  .your-order .container::after {
    background: url('/img/your-order/yorder-bg-desk2@2-min.jpg');
  }
  .your-order .container::after {
    background-image: url('/img/your-order/element-tab-min.png');

  }
}
