.your-order {
    min-width: 320px;
    max-width: 375px;
}
.your-order-bg{

}
.container {
    background-color: black;

}
.order-title {
    color: #FCF9F9;


}
.order-title-accent {
    color: #ECD979

    ;
}